DATABASE_URL="postgresql://username:password@localhost:5432/finance_db?schema=public"

# Masukkan nomor WA yang diizinkan (format 628xxx atau 08xxx, pisahkan dengan koma jika lebih dari 1)
# Biarkan kosong atau '*' jika ingin mengizinkan semua nomor
ALLOWED_NUMBERS="6281234567890,6289876543210"
